
.activity-container{
  width: 400px;
  height: 500px;
  border: 1px solid white;
  border-radius: 20px;
  overflow: hidden;
  margin: 20px;
  display: inline-block;
}

.activity-header{
  background-color: #212121;
  padding: 10px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.activity-image-container{
  width: 400px;
  height: 280px;
  overflow: hidden;
}

.activity-image{
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.activity-description{
  width: 380px;
  height: 180px;
  margin: 10px;
  line-height: 1.3;
}