:root{
  --text-color: #fff;
  --gradient-background-color: linear-gradient(150deg,  #0a0a0b, #282525);
  --gradient-background-color-2: linear-gradient(150deg, #323b48, #0f0f0f);
  --gradient-background-color-3: linear-gradient(150deg,  #5e5e5e, #2e2e2e);
  --gradient-background-color-4: linear-gradient(150deg,  #163274, #001d33);
  --gradient-background-color-5: linear-gradient(150deg, #74a1c8 0%, #2d80c8 100%);
  --sheen-gradient: linear-gradient(150deg, rgba(0,0,0,0) 0%,  rgba(0,0,0,0) 5.5%, #0f0 6%, rgba(0,0,0,0) 7%, rgba(0,0,0,0) 10.5%, #f0f 11%, rgba(0,0,0,0) 12%, rgba(0,0,0,0) 15.5%, #ff0 16%, rgba(0,0,0,0) 17%, rgba(0,0,0,0) 20.5%, #0f0 21%, rgba(0,0,0,0) 22%, rgba(0,0,0,0) 25.5%, #f0f 26%, rgba(0,0,0,0) 27%, rgba(0,0,0,0) 30.5%, #ff0 31%, rgba(0,0,0,0) 32%, rgba(0,0,0,0) 35.5%, #0f0 36%, rgba(0,0,0,0) 37%, rgba(0,0,0,0) 40.5%, #f0f 41%, rgba(0,0,0,0) 42%, rgba(0,0,0,0) 45.5%, #ff0 46%, rgba(0,0,0,0) 47%, rgba(0,0,0,0) 50.5%, #0f0 51%, rgba(0,0,0,0) 52%, rgba(0,0,0,0) 55.5%, #f0f 56%, rgba(0,0,0,0) 57%, rgba(0,0,0,0) 60.5%, #ff0 61%, rgba(0,0,0,0) 62%, rgba(0,0,0,0) 65.5%, #0f0 66%, rgba(0,0,0,0) 67%, rgba(0,0,0,0) 70.5%, #f0f 71%, rgba(0,0,0,0) 72%, rgba(0,0,0,0) 75.5%, #ff0 76%, rgba(0,0,0,0) 77%, rgba(0,0,0,0) 80.5%, #0f0 81%, rgba(0,0,0,0) 82%, rgba(0,0,0,0) 85.5%, #f0f 86%, rgba(0,0,0,0) 87%, rgba(0,0,0,0) 90.5%, #ff0 91%, rgba(0,0,0,0) 92%, rgba(0,0,0,0) 95.5%, #0f0 96%, rgba(0,0,0,0) 97%, rgba(0,0,0,0) 100%);
  --solid-background-color: #242424;
}

html, body{
  height:100%;
  width:100%;
  margin:0;
  padding:0;
}

body {
  font-family: 'Schibsted Grotesk';
  font-weight: 400;
}

#background{
  z-index: -1;
  position: fixed;
  background: var(--gradient-background-color);
  width: 100%;
  height: 100%;
}

#background-sheen{
  z-index: -1;
  position: fixed;
  background: var(--sheen-gradient);
  opacity: 0.01; /* 0.075 with grey-ish background */
  width: 100%;
  height: 100%;
}

.background-canvas{
  position: fixed;
}

#planet-canvas{
  filter: blur(2px);
  -webkit-filter: blur(2px);
}

h1, h2, h3, h4, h5 {
  font-family: "Varela Round";
  font-weight: 700;
}

h1, h2, h3, h4, h5, h6, p, label{
  /* font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; */
  margin: 0;
  color: var(--text-color);
  text-align: center;
}

button{
  background-color: #121212;
  color: white;
  border: 1px solid white;
  border-radius: 4px;
  min-height: 30px;
  width: auto;
}

button:hover{
  cursor: pointer;
}

@keyframes expandMenu{
  0%{
    right: 0;
    position: fixed;
    width: 30px;
    height: 30px;
  }
  100%{
    top: -10%;
    right: -10%;
    position: fixed;
    border-radius: 2px;
    /*width: 96.5%;
    height: 98.5%;*/
    width: 120%;
    height: 120%;
    background: var(--gradient-background-color);
  }
}

@keyframes fadeIn{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.expand-menu{
  animation: expandMenu 1s forwards;
}

.fade-in{
  animation: fadeIn 1s forwards;
}

#header{
  width: 100%;
  position: fixed;
  backdrop-filter: blur(100px);
  -webkit-backdrop-filter: blur(100px) contrast(0%);
}

.header-link{
  display: none;
  float: right;
  margin: 15px;
  color: #fff;
  text-decoration: none;
}

.header-link:visited{
  color: #fff;
}

.header-link:hover{
  color:#ffdd00;
}

.menu-link{
  float: right;
  margin: 15px;
  color: #fff;
  text-decoration: none;
}

.menu-link:visited{
  color: #fff;
}

.menu-link:hover{
  color:#00e1ff;
}

#menu-button{
  border-radius: 30px;
  text-align: center;
  margin: 10px;
  display: none;
  float: right;
}

#open-menu{
  position: fixed;
  background-color: #121212;
  border: none;
  border-radius: 4px;
  border-top-left-radius: 0px;
  margin:0;
}

#menu, #nd-menu {
  float: left;
  background-color: #262626;
  overflow: hidden;
  position: fixed;
  height: 100%; 
  width: 120px; 
  z-index: 1;
  top: 0; 
  left: 0;
  overflow-x: hidden;
  border-right: 1px solid #00ffff;
}

#navbar {
  background-color: #262626;
  overflow: hidden;
  position: fixed;
  height: 6%; 
  width: 100%;
  overflow-x: hidden; 
  border-bottom: 1px solid #00ffff;
  z-index: 1;
}

#navbar a {
  float: left;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 17px;
  text-decoration: none;
  border: 1px solid #323232;
  width: 90px;
  height: 100%;
}

#menu a, #nd-menu a {
  float: left;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 17px;
  text-decoration: none;
  border: 1px solid #323232;
  width: 90px;
}

#menu a:hover, #nd-menu a:hover {
  background-color: #404040;
  color: white;
}

#menu a.active, #nd-menu a:hover {
  background-color: #464646;
  color: white;
}

#menu-dialog{
  position: fixed;
  margin: 0;
}

#menu-dialog::backdrop{
  background-color: rgba(0, 0, 0, 0.3);
}

#content{
  /*margin-left: 12.5%;*/
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

#about{
  padding-left: 18%;
  padding-right: 18%;
}

#about-me{
  background: var(--gradient-background-color-3);
}

#abouttext{
  padding-left: 7.5%;
  padding-right: 7.5%;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  position: relative;
  z-index: -1;
}

dialog{
  background-color: #383838;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.hyperlink{
  color: #0080ff;
  border-bottom: #0544d6;
}

.hyperlink:visited{
  color: #a600ff;
  border-bottom: #7805d6;
}

.static-hyperlink{
  color: #0080ff;
  border-bottom: #0544d6;
}

.slideshow{
  max-width: 75%;
  height: auto;
  border: 1px solid white;
  border-radius: 8px;
}

#slideshow{
  border: 1px solid white;
  border-radius: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
  display: inline-block;
  position: relative;
  z-index: -1;
  background: none;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
}

.slideshow-ui-div {
  width: 300px;
}

#slideshow-left {
  float: left;
}

#slideshow-right {
  float: right;
}

.container{
  border: 1px solid white;
  padding-top: 12px;
  padding-bottom: 12px;
  display: inline-block;
  height: auto;
}

.game{
  border-radius: 8px;
  background-color: #fefefe;
  width: 500px;
  height: 60px;
  padding: 1%;
}

.game-title{
  color: black;
}

.game-window{
  width: 100%;
  height: 75%;
  border: 0;
}
