html, body {
  height: 100%;
  width: 100%;
  background-color: #ffff00;
  overflow-x: hidden;
}

textarea{
  height: 600px;
  width: 95%;
  font-family: 'Helvitica', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 10px;
}

h3{
  text-align: center;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

